.progressnavul{
  font-size: 11px;
  color: #9d9d9d;
  padding: 7px 5px;
  border-bottom: 1px dotted #373737;
}

.progressnavli{
  list-style:none;
}

.progressnavliselected{
  color: white;
}

.progressnavdivpropress{
  height:8px;
  float: left;
  width: 95%;
}

.progressnavdivcheck{
  float: right;
  padding-left: 2px;
  width: 5%;
  height: 8px;
}

.progressnavdivcheckli{
  vertical-align: top;
  font-size: 8px;
}